# IDEs y configuración local
.idea/
.vscode/
*.iml

# Node / Angular
node_modules/
dist/
.angular/

# Java / Spring Boot / Maven
target/
*.class
*.jar
*.war

# Logs y ficheros de sistema
*.log
Thumbs.db
.DS_Store